<!-- <pt-current-user [user]="me"></pt-current-user> -->
<nav class="navbar navbar-dark navbar-expand-sm bg-primary mb-4">
  <a class="navbar-brand text-light" routerLink="/">Pivot</a>
</nav>

<section class="container">
  <header class="mb-4">
    <h2 class="h4">My Projects: ({{ projects.length || 0 }})</h2>
  </header>
  <div class="row" *ngIf="projects.length > 0">
    <div class="col-sm-6 col-lg-4 mb-4" *ngFor="let project of projects">
      <div class="card card-info">
        <header class="card-header">
          <h2 class="h6 card-title">{{ project.name }}</h2>
        </header>
        <div class="card-body pb-0">
          <div class="btn-group w-100">
            <a
              class="btn btn-primary"
              [routerLink]="['/project', project.id, 'board']"
            >
              Stories: {{ project?.story_ids?.length || 0 }}
            </a>
            <a
              class="btn btn-info"
              [routerLink]="['/project', project.id, 'epics']"
            >
              Epics: {{ project?.epic_ids?.length || 0 }}
            </a>
          </div>
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li class="row">
              <h3 class="h6 col-6">Point Scale:</h3>
              <span class="col-6">{{ project?.point_scale }}</span>
            </li>
            <li class="row">
              <h3 class="h6 col-6">Current Iteration:</h3>
              <span class="col-6">{{ project?.current_iteration }}</span>
            </li>
            <li class="row">
              <h3 class="h6 col-6">Current Velocity:</h3>
              <span class="col-6">{{ project?.current_velocity }}</span>
            </li>
            <li class="row">
              <h3 class="h6 col-6">Members:</h3>
              <span class="col-6">{{
                project?.membership_ids?.length || 0
              }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
