<!-- <pt-current-user [user]="me"></pt-current-user> -->
<nav class="navbar navbar-dark sticky-top navbar-expand-sm bg-dark mb-4">
  <div class="d-flex justify-content-between align-items-center w-100">
    <a class="navbar-brand text-light" routerLink="/">Pivot</a>

    <a class="px-4" routerLink="auth">API Key</a>
  </div>
</nav>

<section class="container">
  <header class="mb-4">
    <h2 class="h4">My Projects: ({{ projects.length || 0 }})</h2>
  </header>
  <div class="row" *ngIf="projects.length > 0">
    <div class="col-sm-6 col-lg-4 mb-4" *ngFor="let project of projects">
      <pt-project-card [project]="project"></pt-project-card>
    </div>
  </div>
</section>
