<div class="y-scroll" style="height: 100vh;">
  <section class="container py-3">
    <header class="mb-3">
      <h1 *ngIf="project">{{ project?.name }} - Epics:</h1>
    </header>

    <div class="card mb-3" *ngFor="let epic of epics">
      <header class="card-header">
        <div class="d-flex align-items-center">
          <h2 class="h5 flex-grow-1 mb-0">{{ epic.name }}</h2>
          <a
            class="btn btn-link"
            [href]="epic.url"
            target="_blank"
            rel="nofollow noreferrer"
            title="View in Pivotal Tracker"
          >
            <i class="fas fa-external-link-alt"></i>
          </a>
        </div>
      </header>

      <div class="card-body" *ngIf="epic?.description">
        <h4 class="h6 mr-2">Description:</h4>
        <div class="card">
          <div class="card-body">
            <markdown>{{ epic?.description }}</markdown>
          </div>
        </div>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item" id="label">
          <h4 class="h6 d-inline-block mr-2">Label:</h4>
          <span class="badge badge-success">{{ epic.label?.name }}</span>
        </li>
        <li
          class="list-group-item"
          id="followers"
          *ngIf="epic?.followers.length > 0"
        >
          <h4 class="h6 d-inline-block mr-2">Followers:</h4>
          <pt-person-badge
            *ngFor="let follower of epic.followers"
            [person]="follower"
          ></pt-person-badge>
        </li>
      </ul>
    </div>
  </section>
</div>
