<section class="viewport viewport_with-header d-flex">
  <section
    class="pool mb-5 py-2"
    [style.width.rem]="(21 + 1) * displayOrder.length"
    *ngIf="!loading"
  >
    <ng-container *ngFor="let stateName of displayOrder">
      <div class="swimlane mr-3" *ngIf="boardState[stateName]">
        <header class="d-flex align-items-center">
          <div class="flex-grow-1">
            <h2 class="h4 d-inline mr-1">{{ stateName | titlecase }}</h2>
            <span>({{ displayGroups[stateName]?.length || 0 }})</span>
          </div>
          <div class="px-2">
            <input type="checkbox" (change)="toggleSwimlane(stateName)" />
          </div>
        </header>
        <div class="y-scroll py-3">
          <div *ngFor="let story of displayGroups[stateName]">
            <button class="btn p-0 mb-3 w-100" (click)="openStoryModal(story)">
              <pt-story-card [story]="story"></pt-story-card>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </section>
</section>

<ng-template #storyModal let-modal>
  <header class="modal-header align-items-center border-bottom-0">
    <h4 class="modal-title">{{ focusedStory?.name }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <i aria-hidden="true" class="fas fa-times"></i>
    </button>
  </header>
  <div class="modal-body container-fluid">
    <pt-story-details
      [story]="focusedStory"
      [loading]="focusedStoryLoading"
    ></pt-story-details>
  </div>
</ng-template>
