@import "../../../variables";

.pool {
  height: calc(100vh - 6rem);
  overflow: hidden;
}

.swimlane {
  float: left;
  height: 100%;
  width: 21rem;
}

.y-scroll {
  height: 100%;
  overflow-y: auto;

  & > :last-child {
    margin-bottom: 5rem;
  }
}

.viewport {
  width: 100vw;
  overflow-x: auto;
}

.badge-label {
  max-width: 15rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}