<div class="row">
  <section class="col-sm-7 col-lg-9 px-3">
    <h4>Description</h4>
    <div class="p-2">
      <markdown>
        {{ story?.description }}
      </markdown>
    </div>
  </section>
  <aside class="col-sm-5 col-lg-3">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h4 class="h6">Story Type:</h4>
          <span>
            <i
              class="fas"
              [ngClass]="{
                'fa-star text-warning': story?.story_type === 'feature',
                'fa-bug text-danger': story?.story_type === 'bug',
                'fa-wrench text-secondary': story?.story_type === 'chore'
              }"
            ></i>
            {{ story?.story_type }}
          </span>
        </li>
        <li class="list-group-item">
          <h4 class="h6">State:</h4>
          <span>{{ story?.current_state | titlecase }}</span>
        </li>
        <li class="list-group-item">
          <h4 class="h6">Requester:</h4>
          <span>{{ story?.requester.name || 'None' }}</span>
        </li>
        <li class="list-group-item">
          <h4 class="h6">Owners:</h4>
          <span class="d-block" *ngFor="let owner of story?.owners">
            {{ owner?.name }}
          </span>
          <span class="text-muted" *ngIf="story?.owners.length === 0"
            >None</span
          >
        </li>
        <li class="list-group-item">
          <h4 class="h6">Estimate:</h4>
          <span>{{ story?.estimate || 'unestimated' }}</span>
        </li>
        <li class="list-group-item">
          <h4 class="h6">Labels:</h4>
          <span
            class="badge badge-dark text-truncate overflow-hidden w-100"
            *ngFor="let label of story?.labels"
            [title]="label.name"
          >
            {{ label.name }}
          </span>
        </li>
      </ul>
    </div>
  </aside>
</div>
