<div class="y-scroll" style="height: 100vh;">
  <section class="container-fluid pt-3">
    <div class="card mb-4" *ngFor="let ownerId of ownerIds">
      <header
        class="card-header d-flex align-items-center justify-content-between"
        (click)="toggleCollapse(ownerId)"
      >
        <h2 class="h5 m-0">
          {{ storiesByOwner[ownerId]._.name }}
          <span>
            ({{ ownerMetadata[ownerId].storyCount }} /
            {{ ownerMetadata[ownerId].pointCount }})
            <i
              class="fas fa-info-circle fa-xs text-info"
              ngbTooltip="(# of stories / # points) from non-accepted stories"
              container="body"
            ></i>
          </span>
        </h2>
        <span>
          <span class="text-muted" *ngIf="ownerOnlyHasAcceptedStories(ownerId)">
            (all accepted)
          </span>
          <i
            class="fas"
            [ngClass]="{
              'fa-caret-down': !collapseState[ownerId],
              'fa-caret-up': collapseState[ownerId]
            }"
          ></i>
        </span>
      </header>
      <div [ngbCollapse]="collapseState[ownerId]">
        <div class="card-body d-flex p-0">
          <div
            class="col px-4 py-3"
            *ngFor="let stateName of displayOrder; last as isLast"
            [ngClass]="{ 'border-right border-muted': !isLast }"
          >
            <div class="" [id]="stateName">
              <header>
                <h3 class="h6">{{ stateName }}</h3>
              </header>
              <div
                class="d-flex flex-column align-items-start"
                *ngIf="
                  getStories(ownerId, stateName)?.length < 10;
                  else tooManyStories
                "
              >
                <button
                  class="btn p-0 mb-3 w-100"
                  *ngFor="let story of getStories(ownerId, stateName)"
                  (click)="openStoryModal(story)"
                >
                  <pt-story-card [story]="story"></pt-story-card>
                </button>
              </div>
              <ng-template #tooManyStories>
                <span class="text-muted font-italic">10+ Stories</span>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #storyModal let-modal>
  <header class="modal-header align-items-center border-bottom-0">
    <h4 class="modal-title">{{ focusedStory?.name }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <i aria-hidden="true" class="fas fa-times"></i>
    </button>
  </header>
  <div class="modal-body container-fluid">
    <pt-story-details
      [story]="focusedStory"
      [loading]="focusedStoryLoading"
    ></pt-story-details>
  </div>
</ng-template>
