<header class="mb-3">
  <h1 *ngIf="project">{{ project?.name }} - Team</h1>
</header>
<section class="d-flex px-3 pt-3">
  <div class="swimlane mr-3" *ngFor="let ownerId of ownerIds">
    <div class="card w-100">
      <header
        class="card-header d-flex align-items-center justify-content-between"
      >
        <h2 class="h5 m-0">
          {{ storiesByOwner[ownerId]._.name }}
          <span>
            ({{ ownerMetadata[ownerId].storyCount }} /
            {{ ownerMetadata[ownerId].pointCount }})
            <i
              class="fas fa-info-circle fa-xs text-info"
              ngbTooltip="(# of stories / # points) from non-accepted stories"
              container="body"
            ></i>
          </span>
        </h2>
      </header>
      <div class="card-body d-flex flex-column p-2">
        <div class="" *ngFor="let stateName of displayOrder">
          <div class="" [id]="stateName">
            <header class="mb-3">
              <h3 class="h6">{{ stateName | titlecase }}</h3>
            </header>
            <div
              class="d-flex flex-column align-items-start mb-2"
              *ngIf="
                getStories(ownerId, stateName)?.length < 10;
                else tooManyStories
              "
            >
              <div
                class="mb-2"
                *ngFor="let story of getStories(ownerId, stateName)"
              >
                <pt-story-modal-wrapper (modalOpenClick)="selectStory(story)">
                  <pt-story-card [story]="story"></pt-story-card>
                </pt-story-modal-wrapper>
              </div>
            </div>
            <ng-template #tooManyStories>
              <span class="text-muted font-italic">10+ Stories</span>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
