/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import './variables';

body {
  overflow-y: hidden !important;
}

.y-scroll {
  height: 100%;
  overflow-y: auto !important;

  & > :last-child {
    margin-bottom: 5rem;
  }
}

$cursor-styles: auto, default, pointer, context-menu, help, progress, wait, cell,
  crosshair, text, move, no-drop, not-allowed, grab;
@each $cursor-style in $cursor-styles {
  .cursor-#{$cursor-style} {
    cursor: $cursor-style !important;
  }
}

// Styles for Markdown component
markdown {
  $font-size-base-markdown: $font-size-base * 0.9;
  $h1-font-size-markdown: $font-size-base-markdown * 1.8;
  $h2-font-size-markdown: $font-size-base-markdown * 1.6;
  $h3-font-size-markdown: $font-size-base-markdown * 1.4;
  $h4-font-size-markdown: $font-size-base-markdown * 1.2;
  $h5-font-size-markdown: $font-size-base-markdown * 1.1;
  $h6-font-size-markdown: $font-size-base-markdown;

  h1 {
    font-size: $h1-font-size-markdown !important;
  }
  h2 {
    font-size: $h2-font-size-markdown !important;
  }
  h3 {
    font-size: $h3-font-size-markdown !important;
  }
  h4 {
    font-size: $h4-font-size-markdown !important;
  }
  h5 {
    font-size: $h5-font-size-markdown !important;
  }
  h6 {
    font-size: $h6-font-size-markdown !important;
  }
  p {
    font-size: $font-size-base-markdown;
  }

  &.inline {
    p {
      margin: 0;
    }
  }
}

.pool {
  height: calc(100vh - 6rem);
  overflow: hidden;
}

.swimlane {
  float: left;
  height: 100%;
  width: 21rem;
}

.viewport {
  width: 100vw;
  overflow-x: auto;
}

.badge-label {
  max-width: 15rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
