<div class="d-flex">
  <div class="mr-2">
    <span class="badge badge-pill badge-primary">{{
      comment?.person?.initials
    }}</span>
  </div>
  <div class="flex-grow-1">
    <strong [title]="comment?.person?.name"
      >@{{ comment?.person?.username }}:</strong
    >
    <ng-container *ngIf="comment?.text">
      <markdown>
        {{ comment?.text }}
      </markdown>
    </ng-container>
    <ng-container *ngIf="comment?.file_attachments.length">
      <div
        class="col-lg-10 col-xl-8"
        *ngFor="let attachment of comment?.file_attachments"
      >
        <pt-file-attachment-preview
          [attachment]="attachment"
        ></pt-file-attachment-preview>
      </div>
    </ng-container>
  </div>
</div>
